<div>
    <svg width="28" height="28" viewBox="0 0 35 66" xmlns="http://www.w3.org/2000/svg" id="game__card_footer_army_svg">
        <defs>
            <mask id="army">
                <path fill="#FFFCCD"
                    d="M10.5 10.4211L17.5 0L24.5 10.4211V43.4211H35V53.8421H24.5V66H10.5V53.8421H0V43.4211H10.5V10.4211Z" />
            </mask>
        </defs>
        <path d="M10.5 10.4211L17.5 0L24.5 10.4211V43.4211H35V53.8421H24.5V66H10.5V53.8421H0V43.4211H10.5V10.4211Z"
            fill="#BCA766" />
        <rect id="army__mask" x="0" y="50%" fill="#FFFCCD" width="100%" height="100%" mask="url(#army)" />
    </svg>
    <span id="game__card_footer_army" class="game__card_footer_score"></span>
</div>
<div>
    <img src="./public/images/icons/loyalty.svg" width="28px" height="28px" />
    <span id="game__card_footer_loyalty" class="game__card_footer_score"></span>
</div>
<div>
    <img src="./public/images/icons/money.svg" width="28px" height="28px" />
    <span id="game__card_footer_money" class="game__card_footer_score"></span>
</div>
<div>
    <img src="./public/images/icons/noble.svg" width="28px" height="28px" />
    <span id="game__card_footer_noble" class="game__card_footer_score"></span>
</div>
<div>
    <img src="./public/images/icons/people.svg" width="28px" height="28px" />
    <span id="game__card_footer_people" class="game__card_footer_score"></span>
</div>